

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-552802867128501363.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-552802867128501363.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-552802867128501363.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-552802867128501363.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-552802867128501363.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-552802867128501363.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-552802867128501363.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-552802867128501363.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-552802867128501363.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-552802867128501363.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-552802867128501363.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-552802867128501363.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-552802867128501363.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-552802867128501363.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-552802867128501363.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-552802867128501363.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-552802867128501363.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-552802867128501363.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-552802867128501363.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-552802867128501363.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-552802867128501363.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-552802867128501363.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-552802867128501363.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-552802867128501363.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-552802867128501363.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-552802867128501363.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-552802867128501363.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-552802867128501363.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-552802867128501363.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-552802867128501363.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-552802867128501363.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-552802867128501363.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-552802867128501363.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-552802867128501363.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-552802867128501363.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-552802867128501363.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-552802867128501363.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-552802867128501363.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-552802867128501363.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-552802867128501363.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-552802867128501363.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-552802867128501363.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-552802867128501363.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-552802867128501363.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-552802867128501363.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-552802867128501363.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-552802867128501363.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-552802867128501363.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-552802867128501363.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-552802867128501363.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-552802867128501363.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-552802867128501363.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-552802867128501363.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-552802867128501363.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-552802867128501363.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-552802867128501363.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-552802867128501363.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-552802867128501363.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-552802867128501363.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-552802867128501363.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-552802867128501363.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-552802867128501363.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-552802867128501363.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-552802867128501363.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-552802867128501363.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-552802867128501363.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-552802867128501363.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-552802867128501363.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-552802867128501363.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-552802867128501363.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-552802867128501363 .gp-relative{position:relative}.gps-552802867128501363 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-552802867128501363 .gp-mb-0{margin-bottom:0}.gps-552802867128501363 .gp-flex{display:flex}.gps-552802867128501363 .gp-grid{display:grid}.gps-552802867128501363 .gp-contents{display:contents}.gps-552802867128501363 .\!gp-hidden{display:none!important}.gps-552802867128501363 .gp-hidden{display:none}.gps-552802867128501363 .gp-h-full{height:100%}.gps-552802867128501363 .gp-w-full{width:100%}.gps-552802867128501363 .gp-max-w-full{max-width:100%}.gps-552802867128501363 .gp-flex-col{flex-direction:column}.gps-552802867128501363 .gp-gap-y-0{row-gap:0}.gps-552802867128501363 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-552802867128501363 .gp-duration-200{transition-duration:.2s}.gps-552802867128501363 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-552802867128501363 .tablet\:\!gp-hidden{display:none!important}.gps-552802867128501363 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-552802867128501363 .mobile\:\!gp-hidden{display:none!important}.gps-552802867128501363 .mobile\:gp-hidden{display:none}}.gps-552802867128501363 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-552802867128501363 .\[\&_p\]\:gp-inline p{display:inline}.gps-552802867128501363 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-552802867128501363 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gsD4W99mV6" data-id="gsD4W99mV6"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#004499;--bgc-mobile:#004499;--bgi:url({{ "gempages_509384768677217183-5376c40a-bfa0-43fe-b8c8-fa533ed2f96b.jpg" | file_url }});--bgi-mobile:url({{ "gempages_509384768677217183-5376c40a-bfa0-43fe-b8c8-fa533ed2f96b.jpg" | file_url }});--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gsD4W99mV6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="goHKnmP5hO gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gBFo_4IeR_" data-id="gBFo_4IeR_"
        style="--mb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgc-mobile:transparent;--bgi:url();--bgi-mobile:url({{ "gempages_509384768677217183-5376c40a-bfa0-43fe-b8c8-fa533ed2f96b.jpg" | file_url }});--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gBFo_4IeR_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g_7wYCsiup gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gWNpFZTc6n"
    role="presentation"
    class="gp-group/image gWNpFZTc6n"
    style="--pt-mobile:10px;--pl-mobile:50px;--pb-mobile:10px;--pr-mobile:50px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_509384768677217183-6cea672f-aad5-4d3e-9732-aba4316c86e8_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjg4IiBoZWlnaHQ9IjM5NiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjg4LTM5NiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjg4IiBoZWlnaHQ9IjM5NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjg4IiBoZWlnaHQ9IjM5NiIgZmlsbD0idXJsKCNnLTI4OC0zOTYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yODgiIHRvPSIyODgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_509384768677217183-6cea672f-aad5-4d3e-9732-aba4316c86e8_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjg4IiBoZWlnaHQ9IjM5NiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjg4LTM5NiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjg4IiBoZWlnaHQ9IjM5NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjg4IiBoZWlnaHQ9IjM5NiIgZmlsbD0idXJsKCNnLTI4OC0zOTYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yODgiIHRvPSIyODgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjg4IiBoZWlnaHQ9IjM5NiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjg4LTM5NiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjg4IiBoZWlnaHQ9IjM5NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjg4IiBoZWlnaHQ9IjM5NiIgZmlsbD0idXJsKCNnLTI4OC0zOTYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yODgiIHRvPSIyODgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_509384768677217183-6cea672f-aad5-4d3e-9732-aba4316c86e8.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gSyRHC4Hx4">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gSyRHC4Hx4 "
        style="--ta:left;--mb-mobile:0px;--pt-mobile:10px;--pb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:46px;--size-tablet:46px;--size-mobile:27px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#16a570;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggSyRHC4Hx4_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gwp03ysO9D">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gwp03ysO9D "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:35px;--pl-mobile:15px;--pr-mobile:15px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#16a570;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--fs:italic;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggwp03ysO9D_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gXrtwyeMTm">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gXrtwyeMTm "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-s);--pl-mobile:15px;--pr-mobile:15px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#16a570;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:11px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggXrtwyeMTm_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-552802867128501363 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/868dcb-72/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=552802867027641459&sectionId=552802867128501363)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggSyRHC4Hx4_text","label":"ggSyRHC4Hx4_text","default":"<strong>- Dra. Carolina Mu침oz</strong> 游뽘"},{"type":"html","id":"ggwp03ysO9D_text","label":"ggwp03ysO9D_text","default":"<p><span style=\"background-color:rgba(0,0,0,0);color:#16A570;font-size:12px;\"><i>Nutricionista Pedi치trica | Especialista en Salud Infantil</i></span></p>"},{"type":"html","id":"ggXrtwyeMTm_text","label":"ggXrtwyeMTm_text","default":"<p><span style=\"font-size:15px;\">\"Como nutricionista pedi치trica, s칠 lo importante que es garantizar que los ni침os reciban los nutrientes esenciales para su crecimiento y desarrollo.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"font-size:15px;\">Por eso, recomiendo <strong>V10 Multivitam칤nico Completo para Ni침os</strong>, una f칩rmula equilibrada con vitaminas y minerales clave para fortalecer su sistema inmunol칩gico, mejorar su desarrollo cognitivo y brindarles la energ칤a que necesitan</span></p><p>&nbsp;</p><p><span style=\"font-size:15px;\">. <strong>Es una excelente opci칩n para complementar la alimentaci칩n</strong> y asegurar un crecimiento saludable.\"</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
